.legend {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  background: #f4f4f4;
  border-radius: 4px;
}

.legend-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.legend-text {
  font-size: 14px;
}

.button-rerun-update {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #eb7b36;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.button-rerun-update:hover {
  background-color: #d67030;
}

.react-flow__node {
  transition: transform 0.3s ease;
}

.react-flow__edge-path {
  transition: d 0.3s ease;
}

.legend .legend-add-icon {
  display: inline-flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  font-size: 20px; /* Increase font size for better visibility */
  width: 24px; /* Set a fixed width */
  height: 24px; /* Set a fixed height */
  border-radius: 4px; /* Rounded corners */
  margin-right: 8px; /* Adjust as necessary for spacing */
}
